@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">
        This application demonstrates how to fetch user's Glooko code using standard OAuth2 authorization flow. Source code for this application can be found in a Github repository:
    </p>
    <p>
        <a href="https://github.com/glooko/Examples" class="btn btn-primary btn-lg">Glooko examples</a>
    </p>
</div>

<div class="row">
    <h2>Getting started</h2>
    <p>
        First step in OAuth2 authorization flow is requesting user authorization. Click <i>Connect with Glooko</i> button to proceed.
    </p>
    <p>
        <a class="btn btn-default btn-primary" href="@ViewBag.GlookoAuthorizationURI">Connect with Glooko</a>
    </p>
</div>